body{
    margin: 0;
}

.flex{
    display: flex;
}

.fd-c{
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.jc-sa{
    justify-content: space-around;
}

.jc-c{
    justify-content: center;
}

.ai-c{
    align-items: center;
}

.side-padding{
    padding-left: 10%;
    padding-right: 10%;
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mt-80{
    margin-top: 80px;
}

.mt-100{
    margin-top: 100px;
}

header{
    height: 100px;
    border-bottom: 1px solid #e6e6e6;
}

main{
    height: 450vh;
}

.log{
    width: 62px;
    height: 22px;
}

.text-header{
    font-size: 17px;
    font-weight: 600;
    color: #979391;
    font-family: 'Inter', sans-serif;
}

.c{
    color: #D9D9D9;
}

.text-header:hover{
    color: black;
}

.box-header{
    width: 52px;
    height: 52px;
    border: 1px solid #ececec;
    cursor: pointer;
}

.fon{
    width: 52px;
    height: 52px;
    position: absolute;
    cursor: pointer;
}

.img-header{
    position: relative;
}

h1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.ava{
    width: 284px;
    height: 284px;
}

.box-text{
    width: 50%;
}

.text-follow{
    font-size: 18px;
    font-weight: 500;
    color: #979391;
    font-family: 'Inter', sans-serif;
}

.numbers{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

.follow{
    width: 284px;
    height: 75px;
    border: 1px solid transparent;
    background-image: radial-gradient(rgba(157, 184, 200, 0.7), #748E9C);
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.text-info{
    font-size: 25px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
}

.icon-info{
    width: 32px;
    height: 25px;
    cursor: pointer;
}

.number{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

b{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}

.line{
    width: 100%;
    height: 80px;
}

.menu{
    width: 120px;
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
}

.menu:hover{
    border-left: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 0px solid transparent;
    color: black;
}

.card-img{
    width: 300px;
    height: 370px;
}

.img{
    width: 300px;
    height: 300px;
}

.text-card{
    font-size: 18px;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    color: #1c2529;
}

.numb{
    font-size: 21px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #1c2529;
}

.icon{
    width: 15px;
    height: 25px;
    margin-left: 10px;
}

.by{
    font-size: 18px;
    font-weight: 500;
    font-family: 'PT Serif', serif;
    color: #979391;
    margin-right: 5px;
}

.by-card{
    font-size: 18px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
    color: #637883;
}

.price{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #788d98;
}

.footer{
    height: 500px;
    background-color: #394348;
}

.left{
    width: 72%;
}

.end-text{
    font-size: 23px;
    font-weight: 500;
    font-family: 'PT Serif', serif;
    color: #ffffff;
}

input{
    width: 400px;
    height: 45px;
    background-color: #394348;
    border: 1px solid #ffffff33;
    padding: 0 0 0 3%;
    box-sizing: border-box;
}

.end-button{
    width: 100px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #6a5843;
    margin-left: 10px;
}

.right{
    width: 42%;
}

.box{
    width: 40px;
    height: 40px;
    border: 1px solid #748E9C;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.box:hover{
    border: 2px solid #ffffff;
}

.end-icon1{
    width: 40px;
    height: 30px;
}

.end-icon2{
    width: 30px;
    height: 30px;
}

.end-logo{
    width: 125px;
    height: 45px;
}

.text-date{
    width: 110px;
    height: 45px;
    border-left: 1px solid #748E9C;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #9ca1a3;
    padding: 0 10% 0 10%;
}

.text-end{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
}

.text-end:hover{
    color: #ffffff;
}